*.xcodeproj/project.xcworkspace/xcuserdata/**
*.xcodeproj/xcuserdata/**
*.xcworkspace/project.xcworkspace/xcuserdata/**
*.xcworkspace/xcuserdata/**
**/*.xcodeproj/project.xcworkspace/xcuserdata/**
**/*.xcodeproj/xcuserdata/**
.DS_Store*
*.ipa
.idea/**
*.mode1v3
*.pbxuser
*.perspective
*.perspectivev3
*.pyc
*.orig
*~.nib/
build/*
profile
Pods/**
